In [22]:
import pyodbc

In [25]:
pyodbc.dataSources()

{}

In [20]:


conn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
                      'Server=localhost;'
                      'Database=test;'
                      'Trusted_Connection=yes;')

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 13 for SQL Server' : file not found (0) (SQLDriverConnect)")

In [1]:


# Register the streaming http handlers with urllib2
register_openers()

# Use multipart encoding for the input files
datagen, headers = multipart_encode({ 'files[]': open('example.mdf', 'rb')})

# Create the request object
request = urllib2.Request('https://www.rebasedata.com/api/v1/convert', datagen, headers)

# Do the request and get the response
# Here the MDF file gets converted to CSV
response = urllib2.urlopen(request)

# Check if an error came back
if response.info().getheader('Content-Type') == 'application/json':
    print response.read()
    sys.exit(1)

# Write the response to /tmp/output.zip
with open('/tmp/output.zip', 'wb') as local_file:
    local_file.write(response.read())

print 'Conversion result successfully written to /tmp/output.zip!'

SyntaxError: invalid syntax (394096664.py, line 20)

In [11]:
ddd2 = ddd.replace("`",'"')

In [12]:
print(ddd2)

-- MySQL dump 10.16  Distrib 10.1.26-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: db
-- ------------------------------------------------------
-- Server version	10.1.26-MariaDB-0+deb9u1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table "dbo.Customers"
--

DROP TABLE IF EXISTS "dbo.Customers";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Customers" (
  "custnum" mediumint(9) DEFAULT NULL,
  "referredby" mediumint(9) DEFAULT NULL,
  "custname" varchar(30) DEFAULT NULL,
  "address" varchar(25) DEFAULT NULL,
  "city" varchar(20) DEFAULT NULL,
  "state" varchar(2) DEFAULT NULL,
  "zipcode" varchar(12) DEFAULT NULL,
  "repid" varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Customers"
--

LOCK TABLES "dbo.Customers" WRITE;
/*!40000 ALTER TABLE "dbo.Customers" DISABLE KEYS */;
INSERT INTO "dbo.Customers" VALUES (20042,20555,'CK Music!','#1149 Blossom Road       ','Rochester           ','NY','14610       ','S01'),(20151,20330,'Friendly Books','19 International Dr.     ','Ryebrook            ','NY','10573       ','S03'),(20181,20506,'The Book Stop','512 Columbia Road        ','Somerville          ','NJ','08876','E02'),(20309,20151,'Mary's Card Shoppe','981 Connecticut Blvd.    ','East Hartford       ','CT','06108       ','S01'),(20330,99999,'TechTraining','51 Ulster St.            ','Denver              ','CO','80237       ','S03'),(20417,20506,'Harvey & Sons Publishing','99 West 77th St.         ','Edina               ','MN','55435       ','W01'),(20437,99999,'Cards for All Occasions       ','99 South Downing         ','Westchester         ','IL','60154       ','W02'),(20482,20181,'Kolleen's Kraft Supplies','2 Kirts Boulevard        ','Troy                ','MI','48084       ','S02'),(20493,20573,'Murphy's Drug Store','7110 Cordero Drive       ','San Francisco       ','CA','96910       ','N01'),(20503,9989,'Smithson Tech Ltd.','396 Apache River Ave.    ','Fountain Valley     ','CA','92708       ','N01'),(20506,9989,'Frank's Music Shop','51 Windsor Street        ','Cambridge           ','MA','02139       ','S01'),(20512,20437,'TLC Gardening Galore','79 Gessner               ','Houston             ','TX','77024       ','S03'),(20527,99999,'Pet Shoppe','40 Knox Park Road        ','Lake Zurich         ','IL','60047       ','W02'),(20555,8864,'Brainy Learning Center','615 Richmond Ave.        ','Houston             ','TX','77042       ','S02'),(20557,99999,'Prince's Pets','74 Oak St.               ','Buffalo             ','NY','14053       ','S01'),(20573,21516,'Smithson Travel','5619 114th Ave. N.W.     ','Bellevue            ','WA','98004       ','E03'),(21133,99999,'Toujours Tours','27 International Dr.     ','Ryebrook            ','NY','10573       ','S01'),(21151,99999,'Scholarly School','12 Harbor Blvd.          ','Santa Ana           ','CA','92704       ','S03'),(21160,20573,'One Stop Bookshop','22 International Dr.     ','Ryebrook            ','NY','10573       ','W02'),(21516,20330,'Favorite Florist','81 114th Ave.            ','Bellevue            ','WA','98004       ','S01'),(8802,9989,'Pretty Gardens','289 Jacoban St.          ','Quebec              ','CA','H8R 1C3     ','N02'),(8864,99999,'Marty's Books','49 West Nash Street      ','Wilson              ','NC','27893       ','N02'),(9517,20506,'The Corner Bookstore          ','36 North Miller Avenue   ','Syracuse            ','NY','13206       ','E01'),(9881,21516,'Advertising & Graphic Design','2008 Delta Ave.          ','Cincinnati          ','OH','45208       ','E01'),(9989,20573,'National Learners','39 Gallimore Dairy Road  ','Greensboro          ','NC','27409       ','N02');
/*!40000 ALTER TABLE "dbo.Customers" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "dbo.Obsolete_Titles"
--

DROP TABLE IF EXISTS "dbo.Obsolete_Titles";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Obsolete_Titles" (
  "partnum" mediumint(9) DEFAULT NULL,
  "bktitle" varchar(40) DEFAULT NULL,
  "devcost" decimal(9,4) DEFAULT NULL,
  "slprice" decimal(6,4) DEFAULT NULL,
  "pubdate" varchar(19) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Obsolete_Titles"
--

LOCK TABLES "dbo.Obsolete_Titles" WRITE;
/*!40000 ALTER TABLE "dbo.Obsolete_Titles" DISABLE KEYS */;
INSERT INTO "dbo.Obsolete_Titles" VALUES (39213,'When Birds Do not Fly                   ',42562.7500,29.9500,'2001-04-07 00:00:00'),(39422,'Hammer and Nails                        ',35024.0000,42.5000,'1997-09-10 00:00:00'),(39778,'Taking a Walk Alone                     ',12981.5500,35.9500,'1999-03-01 00:00:00'),(39779,'Learning to Diet                        ',9000.0000,21.9500,'1997-09-15 00:00:00'),(39782,'Wonderful Thoughts and Marvellous Dreams',11233.7500,25.5000,'1994-02-10 00:00:00'),(39843,'Clear Cupboards                         ',15055.5000,49.9500,'1999-08-19 00:00:00'),(39905,'Y2K Why Worry?',19990.0000,45.0000,'2000-01-01 00:00:00');
/*!40000 ALTER TABLE "dbo.Obsolete_Titles" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "dbo.Potential_Customers"
--

DROP TABLE IF EXISTS "dbo.Potential_Customers";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Potential_Customers" (
  "custnum" mediumint(9) DEFAULT NULL,
  "referredby" varchar(5) DEFAULT NULL,
  "custname" varchar(25) DEFAULT NULL,
  "address" varchar(25) DEFAULT NULL,
  "city" varchar(20) DEFAULT NULL,
  "state" varchar(2) DEFAULT NULL,
  "zipcode" varchar(12) DEFAULT NULL,
  "repid" varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Potential_Customers"
--

LOCK TABLES "dbo.Potential_Customers" WRITE;
/*!40000 ALTER TABLE "dbo.Potential_Customers" DISABLE KEYS */;
INSERT INTO "dbo.Potential_Customers" VALUES (31001,'31004','Empire Books','911 Empire Blvd.         ','Cincinnati          ','OH','45208       ','E01'),(31002,'31005','Book Publishers, Inc.','3 Park Ave.              ','Wilson              ','NC','27893       ','N02'),(31003,'31002','BxB Fitness','15 Main St.              ','Syracuse            ','NY','13206       ','E01'),(31004,'31002','The Family Sing Center','224 Phillips Ave.        ','Santa Ana           ','CA','92704       ','S03'),(31005,'31004','Hand Loved Craft Supplies','57 Underwood Blvd.       ','Troy                ','MI','48084       ','S02'),(9517,'','Leaps & Bounds Travel','36 North Miller Ave.     ','Syracuse            ','NY','13206       ','E01');
/*!40000 ALTER TABLE "dbo.Potential_Customers" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "dbo.Sales"
--

DROP TABLE IF EXISTS "dbo.Sales";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Sales" (
  "ordnum" mediumint(9) DEFAULT NULL,
  "sldate" varchar(19) DEFAULT NULL,
  "qty" smallint(6) DEFAULT NULL,
  "custnum" mediumint(9) DEFAULT NULL,
  "partnum" mediumint(9) DEFAULT NULL,
  "repid" varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Sales"
--

LOCK TABLES "dbo.Sales" WRITE;
/*!40000 ALTER TABLE "dbo.Sales" DISABLE KEYS */;
INSERT INTO "dbo.Sales" VALUES (101,'2017-11-16 00:00:00',220,20503,40125,'N01'),(102,'2017-11-20 00:00:00',100,8802,40232,'N02'),(103,'2017-11-20 00:00:00',170,9989,40641,'N02'),(104,'2017-12-07 00:00:00',100,9989,40562,'N02'),(105,'2017-12-14 00:00:00',150,20493,40481,'N01'),(106,'2017-12-16 00:00:00',200,9989,40712,'N02'),(107,'2017-12-22 00:00:00',200,9989,40562,'N02'),(108,'2017-01-11 00:00:00',200,20417,40125,'W01'),(109,'2017-01-12 00:00:00',250,8802,40231,'N02'),(110,'2017-01-12 00:00:00',250,20330,40482,'S03'),(111,'2017-01-18 00:00:00',100,9989,40551,'N02'),(112,'2017-01-20 00:00:00',120,8802,40251,'N02'),(113,'2017-01-20 00:00:00',400,20417,40614,'W01'),(114,'2017-01-20 00:00:00',100,20506,40253,'S01'),(115,'2017-01-22 00:00:00',190,8802,40233,'N02'),(116,'2017-01-26 00:00:00',100,8802,40231,'N02'),(117,'2017-01-27 00:00:00',200,20493,40564,'N01'),(118,'2017-01-29 00:00:00',240,20503,40526,'N01'),(119,'2017-02-02 00:00:00',200,21133,40581,'S01'),(120,'2012-02-05 00:00:00',180,20503,40231,'N01'),(121,'2017-02-09 00:00:00',100,20506,40251,'S01'),(122,'2017-02-09 00:00:00',100,21133,40521,'S01'),(123,'2017-02-12 00:00:00',150,8864,40562,'N02'),(124,'2017-02-15 00:00:00',180,9881,40564,'E01'),(125,'2017-02-15 00:00:00',100,9989,40564,'N02'),(126,'2017-02-16 00:00:00',160,20482,40521,'S02'),(127,'2017-02-22 00:00:00',200,9517,40711,'E01'),(128,'2012-02-23 00:00:00',130,9989,40521,'N02'),(129,'2017-02-25 00:00:00',0,21151,40821,'S03'),(130,'2012-02-26 00:00:00',330,9881,40812,'E01'),(131,'2017-03-16 00:00:00',200,9881,40896,'E01'),(132,'2017-03-18 00:00:00',400,20503,40581,'N01'),(133,'2017-03-18 00:00:00',130,20503,40714,'N01'),(134,'2017-03-24 00:00:00',500,9989,40552,'N02'),(135,'2017-03-30 00:00:00',100,9517,40921,'E01'),(136,'2017-03-31 00:00:00',160,20417,40123,'W01'),(137,'2017-03-31 00:00:00',220,20417,40125,'W01'),(138,'2017-04-02 00:00:00',150,9881,40821,'E01'),(139,'2017-04-09 00:00:00',160,20482,40561,'S02'),(140,'2017-04-09 00:00:00',170,9881,40897,'E01'),(141,'2017-04-15 00:00:00',100,9989,40323,'N02'),(142,'2017-04-15 00:00:00',250,20557,40922,'S01'),(143,'2017-04-20 00:00:00',200,20181,40321,'E02'),(144,'2017-04-20 00:00:00',100,8864,40561,'N02'),(145,'2017-04-22 00:00:00',500,20181,40633,'E02'),(146,'2017-04-22 00:00:00',250,20417,40923,'W01'),(147,'2017-04-22 00:00:00',100,20309,40323,'S01'),(148,'2017-04-26 00:00:00',120,20557,40923,'S01'),(149,'2017-04-27 00:00:00',120,20482,40562,'S02'),(150,'2017-04-27 00:00:00',370,20503,40451,'N01'),(151,'2017-04-27 00:00:00',200,20493,40454,'N01'),(152,'2017-04-27 00:00:00',160,9517,40923,'E01'),(153,'2017-04-27 00:00:00',250,21151,40811,'S03'),(154,'2017-04-29 00:00:00',350,20512,40325,'S03'),(155,'2017-04-29 00:00:00',100,20506,40252,'S01'),(156,'2017-05-03 00:00:00',190,20181,40452,'E02'),(157,'2017-05-04 00:00:00',350,9517,40924,'E01'),(158,'2017-05-04 00:00:00',200,21133,40569,'S01'),(159,'2017-05-05 00:00:00',350,20512,40322,'S03'),(160,'2017-05-07 00:00:00',260,20557,40924,'S01'),(161,'2017-05-10 00:00:00',0,8864,40569,'N02'),(162,'2017-05-11 00:00:00',150,20503,40633,'N01'),(163,'2017-05-12 00:00:00',250,9881,40890,'E01'),(164,'2017-05-13 00:00:00',500,20181,40321,'E02'),(165,'2017-05-14 00:00:00',180,9881,40829,'E01'),(166,'2017-05-19 00:00:00',330,9881,40821,'E01'),(167,'2017-05-19 00:00:00',100,9881,40819,'E01'),(168,'2017-05-21 00:00:00',250,20417,40890,'W01'),(169,'2017-05-21 00:00:00',500,21133,40552,'S01'),(170,'2017-05-24 00:00:00',150,20181,40561,'E02'),(171,'2017-05-24 00:00:00',110,9517,40926,'E01'),(172,'2017-05-26 00:00:00',220,20181,40322,'E02'),(173,'2017-05-26 00:00:00',100,9989,40569,'N02'),(174,'2017-05-27 00:00:00',160,21151,40893,'S03'),(175,'2017-05-28 00:00:00',200,9881,40893,'E01'),(176,'2017-05-28 00:00:00',120,9517,40457,'E01'),(177,'2017-05-28 00:00:00',190,9881,40812,'E01'),(178,'2017-05-28 00:00:00',400,20417,40624,'W01'),(179,'2017-06-01 00:00:00',500,9989,40890,'N02'),(180,'2017-06-02 00:00:00',250,9517,40890,'E01'),(181,'2017-06-03 00:00:00',170,9881,40895,'E01'),(182,'2017-06-07 00:00:00',110,9989,40527,'N02'),(183,'2017-06-09 00:00:00',140,20181,40325,'E02'),(184,'2017-06-11 00:00:00',0,9517,40363,'E01'),(185,'2017-06-11 00:00:00',250,20417,40122,'W01'),(186,'2017-06-11 00:00:00',120,20557,40921,'S01'),(187,'2017-06-11 00:00:00',100,9989,40553,'N02'),(188,'2012-06-14 00:00:00',330,9881,40890,'E01'),(189,'2017-06-15 00:00:00',500,9517,40896,'E01'),(190,'2017-06-15 00:00:00',170,20309,40890,'S01'),(191,'2017-06-22 00:00:00',500,9517,40361,'E01'),(192,'2017-06-22 00:00:00',220,20330,40893,'S03'),(193,'2017-06-22 00:00:00',110,20330,40121,'S03'),(194,'2017-06-22 00:00:00',100,20309,40890,'S01'),(195,'2017-06-28 00:00:00',100,9989,40561,'N02'),(196,'2017-06-29 00:00:00',100,9881,40829,'E01'),(197,'2017-06-29 00:00:00',190,20417,40454,'W01'),(198,'2017-06-29 00:00:00',190,20417,40457,'W01');
/*!40000 ALTER TABLE "dbo.Sales" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "dbo.Slspers"
--

DROP TABLE IF EXISTS "dbo.Slspers";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Slspers" (
  "repid" varchar(3) DEFAULT NULL,
  "fname" varchar(10) DEFAULT NULL,
  "lname" varchar(20) DEFAULT NULL,
  "commrate" decimal(3,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Slspers"
--

LOCK TABLES "dbo.Slspers" WRITE;
/*!40000 ALTER TABLE "dbo.Slspers" DISABLE KEYS */;
INSERT INTO "dbo.Slspers" VALUES ('E01','Kent      ','Allard              ',0.05),('E02','Margo     ','Lane                ',0.05),('E03','Fred      ','Bartell             ',0.02),('N01','Richard   ','Gibson              ',0.03),('N02','Pat       ','Powell              ',0.03),('S01','George    ','Cranston            ',0.04),('S02','Amelia    ','Rose                ',0.05),('S03','Charlotte ','Matthews            ',0.04),('W01','Anna      ','Nolan               ',0.02),('W02','Anne      ','Green               ',0.04);
/*!40000 ALTER TABLE "dbo.Slspers" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "dbo.Titles"
--

DROP TABLE IF EXISTS "dbo.Titles";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "dbo.Titles" (
  "partnum" mediumint(9) DEFAULT NULL,
  "bktitle" varchar(40) DEFAULT NULL,
  "devcost" varchar(10) DEFAULT NULL,
  "slprice" decimal(6,4) DEFAULT NULL,
  "pubdate" varchar(19) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "dbo.Titles"
--

LOCK TABLES "dbo.Titles" WRITE;
/*!40000 ALTER TABLE "dbo.Titles" DISABLE KEYS */;

In [5]:
ddd = """
-- MySQL dump 10.16  Distrib 10.1.26-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: db
-- ------------------------------------------------------
-- Server version	10.1.26-MariaDB-0+deb9u1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dbo.Customers`
--

DROP TABLE IF EXISTS `dbo.Customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Customers` (
  `custnum` mediumint(9) DEFAULT NULL,
  `referredby` mediumint(9) DEFAULT NULL,
  `custname` varchar(30) DEFAULT NULL,
  `address` varchar(25) DEFAULT NULL,
  `city` varchar(20) DEFAULT NULL,
  `state` varchar(2) DEFAULT NULL,
  `zipcode` varchar(12) DEFAULT NULL,
  `repid` varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Customers`
--

LOCK TABLES `dbo.Customers` WRITE;
/*!40000 ALTER TABLE `dbo.Customers` DISABLE KEYS */;
INSERT INTO `dbo.Customers` VALUES (20042,20555,'CK Music!','#1149 Blossom Road       ','Rochester           ','NY','14610       ','S01'),(20151,20330,'Friendly Books','19 International Dr.     ','Ryebrook            ','NY','10573       ','S03'),(20181,20506,'The Book Stop','512 Columbia Road        ','Somerville          ','NJ','08876','E02'),(20309,20151,'Mary\'s Card Shoppe','981 Connecticut Blvd.    ','East Hartford       ','CT','06108       ','S01'),(20330,99999,'TechTraining','51 Ulster St.            ','Denver              ','CO','80237       ','S03'),(20417,20506,'Harvey & Sons Publishing','99 West 77th St.         ','Edina               ','MN','55435       ','W01'),(20437,99999,'Cards for All Occasions       ','99 South Downing         ','Westchester         ','IL','60154       ','W02'),(20482,20181,'Kolleen\'s Kraft Supplies','2 Kirts Boulevard        ','Troy                ','MI','48084       ','S02'),(20493,20573,'Murphy\'s Drug Store','7110 Cordero Drive       ','San Francisco       ','CA','96910       ','N01'),(20503,9989,'Smithson Tech Ltd.','396 Apache River Ave.    ','Fountain Valley     ','CA','92708       ','N01'),(20506,9989,'Frank\'s Music Shop','51 Windsor Street        ','Cambridge           ','MA','02139       ','S01'),(20512,20437,'TLC Gardening Galore','79 Gessner               ','Houston             ','TX','77024       ','S03'),(20527,99999,'Pet Shoppe','40 Knox Park Road        ','Lake Zurich         ','IL','60047       ','W02'),(20555,8864,'Brainy Learning Center','615 Richmond Ave.        ','Houston             ','TX','77042       ','S02'),(20557,99999,'Prince\'s Pets','74 Oak St.               ','Buffalo             ','NY','14053       ','S01'),(20573,21516,'Smithson Travel','5619 114th Ave. N.W.     ','Bellevue            ','WA','98004       ','E03'),(21133,99999,'Toujours Tours','27 International Dr.     ','Ryebrook            ','NY','10573       ','S01'),(21151,99999,'Scholarly School','12 Harbor Blvd.          ','Santa Ana           ','CA','92704       ','S03'),(21160,20573,'One Stop Bookshop','22 International Dr.     ','Ryebrook            ','NY','10573       ','W02'),(21516,20330,'Favorite Florist','81 114th Ave.            ','Bellevue            ','WA','98004       ','S01'),(8802,9989,'Pretty Gardens','289 Jacoban St.          ','Quebec              ','CA','H8R 1C3     ','N02'),(8864,99999,'Marty\'s Books','49 West Nash Street      ','Wilson              ','NC','27893       ','N02'),(9517,20506,'The Corner Bookstore          ','36 North Miller Avenue   ','Syracuse            ','NY','13206       ','E01'),(9881,21516,'Advertising & Graphic Design','2008 Delta Ave.          ','Cincinnati          ','OH','45208       ','E01'),(9989,20573,'National Learners','39 Gallimore Dairy Road  ','Greensboro          ','NC','27409       ','N02');
/*!40000 ALTER TABLE `dbo.Customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbo.Obsolete_Titles`
--

DROP TABLE IF EXISTS `dbo.Obsolete_Titles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Obsolete_Titles` (
  `partnum` mediumint(9) DEFAULT NULL,
  `bktitle` varchar(40) DEFAULT NULL,
  `devcost` decimal(9,4) DEFAULT NULL,
  `slprice` decimal(6,4) DEFAULT NULL,
  `pubdate` varchar(19) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Obsolete_Titles`
--

LOCK TABLES `dbo.Obsolete_Titles` WRITE;
/*!40000 ALTER TABLE `dbo.Obsolete_Titles` DISABLE KEYS */;
INSERT INTO `dbo.Obsolete_Titles` VALUES (39213,'When Birds Do not Fly                   ',42562.7500,29.9500,'2001-04-07 00:00:00'),(39422,'Hammer and Nails                        ',35024.0000,42.5000,'1997-09-10 00:00:00'),(39778,'Taking a Walk Alone                     ',12981.5500,35.9500,'1999-03-01 00:00:00'),(39779,'Learning to Diet                        ',9000.0000,21.9500,'1997-09-15 00:00:00'),(39782,'Wonderful Thoughts and Marvellous Dreams',11233.7500,25.5000,'1994-02-10 00:00:00'),(39843,'Clear Cupboards                         ',15055.5000,49.9500,'1999-08-19 00:00:00'),(39905,'Y2K Why Worry?',19990.0000,45.0000,'2000-01-01 00:00:00');
/*!40000 ALTER TABLE `dbo.Obsolete_Titles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbo.Potential_Customers`
--

DROP TABLE IF EXISTS `dbo.Potential_Customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Potential_Customers` (
  `custnum` mediumint(9) DEFAULT NULL,
  `referredby` varchar(5) DEFAULT NULL,
  `custname` varchar(25) DEFAULT NULL,
  `address` varchar(25) DEFAULT NULL,
  `city` varchar(20) DEFAULT NULL,
  `state` varchar(2) DEFAULT NULL,
  `zipcode` varchar(12) DEFAULT NULL,
  `repid` varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Potential_Customers`
--

LOCK TABLES `dbo.Potential_Customers` WRITE;
/*!40000 ALTER TABLE `dbo.Potential_Customers` DISABLE KEYS */;
INSERT INTO `dbo.Potential_Customers` VALUES (31001,'31004','Empire Books','911 Empire Blvd.         ','Cincinnati          ','OH','45208       ','E01'),(31002,'31005','Book Publishers, Inc.','3 Park Ave.              ','Wilson              ','NC','27893       ','N02'),(31003,'31002','BxB Fitness','15 Main St.              ','Syracuse            ','NY','13206       ','E01'),(31004,'31002','The Family Sing Center','224 Phillips Ave.        ','Santa Ana           ','CA','92704       ','S03'),(31005,'31004','Hand Loved Craft Supplies','57 Underwood Blvd.       ','Troy                ','MI','48084       ','S02'),(9517,'','Leaps & Bounds Travel','36 North Miller Ave.     ','Syracuse            ','NY','13206       ','E01');
/*!40000 ALTER TABLE `dbo.Potential_Customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbo.Sales`
--

DROP TABLE IF EXISTS `dbo.Sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Sales` (
  `ordnum` mediumint(9) DEFAULT NULL,
  `sldate` varchar(19) DEFAULT NULL,
  `qty` smallint(6) DEFAULT NULL,
  `custnum` mediumint(9) DEFAULT NULL,
  `partnum` mediumint(9) DEFAULT NULL,
  `repid` varchar(3) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Sales`
--

LOCK TABLES `dbo.Sales` WRITE;
/*!40000 ALTER TABLE `dbo.Sales` DISABLE KEYS */;
INSERT INTO `dbo.Sales` VALUES (101,'2017-11-16 00:00:00',220,20503,40125,'N01'),(102,'2017-11-20 00:00:00',100,8802,40232,'N02'),(103,'2017-11-20 00:00:00',170,9989,40641,'N02'),(104,'2017-12-07 00:00:00',100,9989,40562,'N02'),(105,'2017-12-14 00:00:00',150,20493,40481,'N01'),(106,'2017-12-16 00:00:00',200,9989,40712,'N02'),(107,'2017-12-22 00:00:00',200,9989,40562,'N02'),(108,'2017-01-11 00:00:00',200,20417,40125,'W01'),(109,'2017-01-12 00:00:00',250,8802,40231,'N02'),(110,'2017-01-12 00:00:00',250,20330,40482,'S03'),(111,'2017-01-18 00:00:00',100,9989,40551,'N02'),(112,'2017-01-20 00:00:00',120,8802,40251,'N02'),(113,'2017-01-20 00:00:00',400,20417,40614,'W01'),(114,'2017-01-20 00:00:00',100,20506,40253,'S01'),(115,'2017-01-22 00:00:00',190,8802,40233,'N02'),(116,'2017-01-26 00:00:00',100,8802,40231,'N02'),(117,'2017-01-27 00:00:00',200,20493,40564,'N01'),(118,'2017-01-29 00:00:00',240,20503,40526,'N01'),(119,'2017-02-02 00:00:00',200,21133,40581,'S01'),(120,'2012-02-05 00:00:00',180,20503,40231,'N01'),(121,'2017-02-09 00:00:00',100,20506,40251,'S01'),(122,'2017-02-09 00:00:00',100,21133,40521,'S01'),(123,'2017-02-12 00:00:00',150,8864,40562,'N02'),(124,'2017-02-15 00:00:00',180,9881,40564,'E01'),(125,'2017-02-15 00:00:00',100,9989,40564,'N02'),(126,'2017-02-16 00:00:00',160,20482,40521,'S02'),(127,'2017-02-22 00:00:00',200,9517,40711,'E01'),(128,'2012-02-23 00:00:00',130,9989,40521,'N02'),(129,'2017-02-25 00:00:00',0,21151,40821,'S03'),(130,'2012-02-26 00:00:00',330,9881,40812,'E01'),(131,'2017-03-16 00:00:00',200,9881,40896,'E01'),(132,'2017-03-18 00:00:00',400,20503,40581,'N01'),(133,'2017-03-18 00:00:00',130,20503,40714,'N01'),(134,'2017-03-24 00:00:00',500,9989,40552,'N02'),(135,'2017-03-30 00:00:00',100,9517,40921,'E01'),(136,'2017-03-31 00:00:00',160,20417,40123,'W01'),(137,'2017-03-31 00:00:00',220,20417,40125,'W01'),(138,'2017-04-02 00:00:00',150,9881,40821,'E01'),(139,'2017-04-09 00:00:00',160,20482,40561,'S02'),(140,'2017-04-09 00:00:00',170,9881,40897,'E01'),(141,'2017-04-15 00:00:00',100,9989,40323,'N02'),(142,'2017-04-15 00:00:00',250,20557,40922,'S01'),(143,'2017-04-20 00:00:00',200,20181,40321,'E02'),(144,'2017-04-20 00:00:00',100,8864,40561,'N02'),(145,'2017-04-22 00:00:00',500,20181,40633,'E02'),(146,'2017-04-22 00:00:00',250,20417,40923,'W01'),(147,'2017-04-22 00:00:00',100,20309,40323,'S01'),(148,'2017-04-26 00:00:00',120,20557,40923,'S01'),(149,'2017-04-27 00:00:00',120,20482,40562,'S02'),(150,'2017-04-27 00:00:00',370,20503,40451,'N01'),(151,'2017-04-27 00:00:00',200,20493,40454,'N01'),(152,'2017-04-27 00:00:00',160,9517,40923,'E01'),(153,'2017-04-27 00:00:00',250,21151,40811,'S03'),(154,'2017-04-29 00:00:00',350,20512,40325,'S03'),(155,'2017-04-29 00:00:00',100,20506,40252,'S01'),(156,'2017-05-03 00:00:00',190,20181,40452,'E02'),(157,'2017-05-04 00:00:00',350,9517,40924,'E01'),(158,'2017-05-04 00:00:00',200,21133,40569,'S01'),(159,'2017-05-05 00:00:00',350,20512,40322,'S03'),(160,'2017-05-07 00:00:00',260,20557,40924,'S01'),(161,'2017-05-10 00:00:00',0,8864,40569,'N02'),(162,'2017-05-11 00:00:00',150,20503,40633,'N01'),(163,'2017-05-12 00:00:00',250,9881,40890,'E01'),(164,'2017-05-13 00:00:00',500,20181,40321,'E02'),(165,'2017-05-14 00:00:00',180,9881,40829,'E01'),(166,'2017-05-19 00:00:00',330,9881,40821,'E01'),(167,'2017-05-19 00:00:00',100,9881,40819,'E01'),(168,'2017-05-21 00:00:00',250,20417,40890,'W01'),(169,'2017-05-21 00:00:00',500,21133,40552,'S01'),(170,'2017-05-24 00:00:00',150,20181,40561,'E02'),(171,'2017-05-24 00:00:00',110,9517,40926,'E01'),(172,'2017-05-26 00:00:00',220,20181,40322,'E02'),(173,'2017-05-26 00:00:00',100,9989,40569,'N02'),(174,'2017-05-27 00:00:00',160,21151,40893,'S03'),(175,'2017-05-28 00:00:00',200,9881,40893,'E01'),(176,'2017-05-28 00:00:00',120,9517,40457,'E01'),(177,'2017-05-28 00:00:00',190,9881,40812,'E01'),(178,'2017-05-28 00:00:00',400,20417,40624,'W01'),(179,'2017-06-01 00:00:00',500,9989,40890,'N02'),(180,'2017-06-02 00:00:00',250,9517,40890,'E01'),(181,'2017-06-03 00:00:00',170,9881,40895,'E01'),(182,'2017-06-07 00:00:00',110,9989,40527,'N02'),(183,'2017-06-09 00:00:00',140,20181,40325,'E02'),(184,'2017-06-11 00:00:00',0,9517,40363,'E01'),(185,'2017-06-11 00:00:00',250,20417,40122,'W01'),(186,'2017-06-11 00:00:00',120,20557,40921,'S01'),(187,'2017-06-11 00:00:00',100,9989,40553,'N02'),(188,'2012-06-14 00:00:00',330,9881,40890,'E01'),(189,'2017-06-15 00:00:00',500,9517,40896,'E01'),(190,'2017-06-15 00:00:00',170,20309,40890,'S01'),(191,'2017-06-22 00:00:00',500,9517,40361,'E01'),(192,'2017-06-22 00:00:00',220,20330,40893,'S03'),(193,'2017-06-22 00:00:00',110,20330,40121,'S03'),(194,'2017-06-22 00:00:00',100,20309,40890,'S01'),(195,'2017-06-28 00:00:00',100,9989,40561,'N02'),(196,'2017-06-29 00:00:00',100,9881,40829,'E01'),(197,'2017-06-29 00:00:00',190,20417,40454,'W01'),(198,'2017-06-29 00:00:00',190,20417,40457,'W01');
/*!40000 ALTER TABLE `dbo.Sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbo.Slspers`
--

DROP TABLE IF EXISTS `dbo.Slspers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Slspers` (
  `repid` varchar(3) DEFAULT NULL,
  `fname` varchar(10) DEFAULT NULL,
  `lname` varchar(20) DEFAULT NULL,
  `commrate` decimal(3,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Slspers`
--

LOCK TABLES `dbo.Slspers` WRITE;
/*!40000 ALTER TABLE `dbo.Slspers` DISABLE KEYS */;
INSERT INTO `dbo.Slspers` VALUES ('E01','Kent      ','Allard              ',0.05),('E02','Margo     ','Lane                ',0.05),('E03','Fred      ','Bartell             ',0.02),('N01','Richard   ','Gibson              ',0.03),('N02','Pat       ','Powell              ',0.03),('S01','George    ','Cranston            ',0.04),('S02','Amelia    ','Rose                ',0.05),('S03','Charlotte ','Matthews            ',0.04),('W01','Anna      ','Nolan               ',0.02),('W02','Anne      ','Green               ',0.04);
/*!40000 ALTER TABLE `dbo.Slspers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbo.Titles`
--

DROP TABLE IF EXISTS `dbo.Titles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dbo.Titles` (
  `partnum` mediumint(9) DEFAULT NULL,
  `bktitle` varchar(40) DEFAULT NULL,
  `devcost` varchar(10) DEFAULT NULL,
  `slprice` decimal(6,4) DEFAULT NULL,
  `pubdate` varchar(19) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbo.Titles`
--

LOCK TABLES `dbo.Titles` WRITE;
/*!40000 ALTER TABLE `dbo.Titles` DISABLE KEYS */;
INSERT INTO `dbo.Titles` VALUES (39843,'Clear Cupboards                         ','15055.5000',49.9500,'2016-08-19 00:00:00'),(39905,'Developing Mobile Apps','19990.0000',45.0000,'2017-01-01 00:00:00'),(40121,'Boating Safety                          ','15421.8100',36.5000,'2017-05-18 00:00:00'),(40122,'Sailing                                 ','9932.9600',29.1500,'2017-05-03 00:00:00'),(40123,'The Sport of Windsurfing                ','12798.3200',38.5000,'2016-07-13 00:00:00'),(40124,'The Sport of Hang Gliding               ','15421.8100',49.6800,'2017-01-06 00:00:00'),(40125,'The Complete Football Reference         ','15032.4100',49.9900,'2016-08-03 00:00:00'),(40231,'How to Play Piano (Beginner)            ','9917.7500',25.0000,'2016-06-11 00:00:00'),(40232,'How to Play Piano (Intermediate)        ','8565.3500',20.5000,'2016-10-22 00:00:00'),(40233,'How to Play Piano (Advanced)            ','7971.0200',20.5000,'2016-12-01 00:00:00'),(40234,'How to Play Piano (Professional)        ','9901.4200',25.0000,'2011-11-13 00:00:00'),(40251,'How to Play Guitar (Beginner)           ','9727.8000',25.0000,'2016-09-14 00:00:00'),(40252,'How to Play Guitar (Intermediate)       ','8862.9500',20.5000,'2016-10-26 00:00:00'),(40253,'How to Play Guitar (Advanced)           ','8355.5000',20.5000,'2016-12-30 00:00:00'),(40254,'How to Play Guitar (Professional)       ','9704.7100',25.0000,'2017-01-28 00:00:00'),(40321,'Starting a Small Garden                 ','12369.6700',35.0000,'2017-03-24 00:00:00'),(40322,'Starting a Greenhouse                   ','11424.1400',30.5000,'2017-05-05 00:00:00'),(40323,'Flower Arranging                        ','7366.4600',20.0000,'2017-03-30 00:00:00'),(40324,'The Complete Guide to Flowers           ','9185.3100',24.9500,'2017-02-05 00:00:00'),(40325,'The Complete Guide to Vegetables        ','9709.2000',24.9500,'2017-03-10 00:00:00'),(40326,'English Gardens                         ','15998.0000',40.0000,'2016-08-03 00:00:00'),(40361,'Landscaping (Beginner)                  ','12933.5300',30.0000,'2017-03-12 00:00:00'),(40363,'Landscaping (Advanced)                  ','12336.4200',25.0000,'2017-03-22 00:00:00'),(40364,'Landscaping (Professional)              ','13445.6200',30.0000,'2017-04-05 00:00:00'),(40451,'Plumbing Repairs Made Easy              ','15179.7500',40.2500,'2016-08-28 00:00:00'),(40452,'Woodworking Around the House            ','14385.7300',46.9700,'2017-04-23 00:00:00'),(40453,'Wallpapering Made Easy                  ','9931.0300',25.5000,'2017-02-16 00:00:00'),(40454,'Minor Home Repairs Made Easy            ','13258.8900',45.9500,'2017-01-28 00:00:00'),(40455,'More Home Repairs Made Easy             ','14737.1000',49.9900,'2017-04-01 00:00:00'),(40457,'Basic Home Electronics                  ','9274.1700',32.2900,'2016-10-23 00:00:00'),(40458,'Modern Architecture                     ','12268.2600',39.9900,'2016-09-15 00:00:00'),(40471,'Guide to Stereo Equipment               ','13825.2600',39.9800,'2016-08-20 00:00:00'),(40472,'Guide to Video Equipment                ','12845.3000',39.9800,'2016-09-01 00:00:00'),(40481,'Simple Auto Repairs                     ','',39.9900,'2016-06-29 00:00:00'),(40482,'The Complete Auto Repair Guide          ','16022.4900',50.9900,'2011-07-22 00:00:00'),(40521,'Creating Toys in Wood                   ','9445.0700',23.7900,'2017-12-04 00:00:00'),(40522,'Cross-stitching for Special Occasions   ','8102.4800',20.0000,'2016-10-30 00:00:00'),(40526,'Furniture Refinishing                   ','11642.9500',39.9900,'2017-01-12 00:00:00'),(40527,'Furniture Upholstery                    ','13136.2600',46.9500,'2017-06-24 00:00:00'),(40551,'The Art of Water Painting               ','11155.9800',34.5000,'2017-01-06 00:00:00'),(40552,'The Art of Oil Painting                 ','11277.5600',34.5000,'2017-03-17 00:00:00'),(40553,'The Art of Pen and Ink Drawing          ','11368.8800',34.5000,'2017-04-29 00:00:00'),(40561,'All Kinds of Knitting                   ','10075.9800',26.9800,'2017-04-16 00:00:00'),(40562,'Learning to Crochet                     ','10001.1400',30.7500,'2016-07-31 00:00:00'),(40563,'Stencil the Room                 ','8812.4000',15.5000,'2017-02-03 00:00:00'),(40564,'Macrame Made Easy                       ','7520.2700',20.0000,'2016-08-31 00:00:00'),(40569,'Calligraphy                             ','8973.4300',25.2500,'2017-05-03 00:00:00'),(40581,'Unique Picture Framing                  ','11235.9500',34.5000,'2016-07-01 00:00:00'),(40611,'Learning Italian (Beginner)             ','9604.6200',30.0000,'2017-12-18 00:00:00'),(40612,'Learning Italian (Intermediate)         ','9728.8500',30.0000,'2017-02-04 00:00:00'),(40613,'Learning Italian (Advanced)             ','9941.7100',30.0000,'2017-04-21 00:00:00'),(40614,'Conversational Italian                  ','11014.8100',35.0000,'2016-06-11 00:00:00'),(40621,'Learning German (Beginner)              ','9697.0900',30.0000,'2017-10-29 00:00:00'),(40622,'Learning German (Intermediate)          ','9990.8300',30.0000,'2017-01-26 00:00:00'),(40623,'Learning German (Advanced)              ','9850.6100',30.0000,'2012-04-22 00:00:00'),(40624,'Conversational German                   ','9972.8900',35.0000,'2017-05-28 00:00:00'),(40631,'Learning French (Beginner)              ','9008.0800',30.0000,'2016-11-04 00:00:00'),(40632,'Learning French (Intermediate)          ','9469.7900',30.0000,'2016-12-11 00:00:00'),(40633,'Learning French (Advanced)              ','9805.9800',30.0000,'2017-03-31 00:00:00'),(40634,'Conversational French                   ','10905.3000',35.0000,'2017-05-20 00:00:00'),(40641,'Learning Japanese (Beginner)            ','9875.5200',30.0000,'2016-07-01 00:00:00'),(40642,'Learning Japanese (Intermediate)        ','9753.6600',30.0000,'2016-09-15 00:00:00'),(40643,'Learning Japanese (Advanced)            ','',30.0000,'2016-11-20 00:00:00'),(40644,'Conversational Japanese                 ','',35.0000,'2017-02-11 00:00:00'),(40651,'Learning Chinese (Beginner)             ','9557.8100',30.0000,'2016-07-20 00:00:00'),(40652,'Learning Chinese (Intermediate)         ','9789.2300',30.0000,'2016-11-11 00:00:00'),(40653,'Learning Chinese (Advanced)             ','',30.0000,'2017-02-26 00:00:00'),(40654,'Conversational Chinese                  ','0.0000',35.0000,'2017-04-29 00:00:00'),(40711,'Recipes From Italy                      ','11772.7300',39.9900,'2016-09-02 00:00:00'),(40712,'Recipes From India                      ','11105.1500',38.8900,'2016-08-19 00:00:00'),(40713,'Decorating Wedding Cakes                ','13166.8800',44.4500,'2016-07-29 00:00:00'),(40714,'Chocolate Lovers Cookbook               ','9557.4100',25.9500,'2016-08-03 00:00:00'),(40811,'Understanding Geometry                  ','11056.4400',35.7500,'2017-03-15 00:00:00'),(40812,'Understanding Trigonometry              ','12294.0300',35.7500,'2017-02-24 00:00:00'),(40819,'Quick Study in Calculus                 ','8508.4300',21.9500,'2017-04-01 00:00:00'),(40821,'Understanding Physics                   ','12933.1900',42.9800,'2017-02-24 00:00:00'),(40822,'Understanding Biology                   ','12675.5000',35.7300,'2017-02-24 00:00:00'),(40829,'Quick Study in English Grammar          ','7980.0000',21.9500,'2017-05-10 00:00:00'),(40890,'The Mayan Civilization                  ','13409.4400',39.9900,'2017-05-18 00:00:00'),(40891,'Writing the Great American Novel        ','',44.5000,'2017-05-25 00:00:00'),(40892,'How to Manage Money Effectively         ','13929.7500',44.5000,'2017-05-25 00:00:00'),(40893,'North American History                  ','16349.9400',50.0000,'2016-05-27 00:00:00'),(40894,'Studying the Civil War                  ','15301.4100',47.9900,'2017-08-05 00:00:00'),(40895,'The History of Baseball                 ','13187.0600',69.9900,'2017-04-01 00:00:00'),(40896,'Studying Greek Mythology                ','11259.3400',27.9500,'2017-03-02 00:00:00'),(40897,'Mythologies of the World                ','15714.0200',49.9500,'2017-04-06 00:00:00'),(40921,'Taking Care of Your Dog                 ','8808.7400',13.9900,'2017-03-29 00:00:00'),(40922,'Taking Care of Your Hamster             ','7260.7300',13.9900,'2017-03-24 00:00:00'),(40923,'Taking Care of Your Fish                ','9200.6000',13.9900,'2017-04-12 00:00:00'),(40924,'Taking Care of Your Cat                 ','9580.8000',13.9900,'2017-04-26 00:00:00'),(40925,'Taking Care of Your Rabbit              ','8255.6200',13.9900,'2017-05-19 00:00:00'),(40926,'Taking Care of Your Parrot              ','9904.7000',13.9900,'2017-05-20 00:00:00');
/*!40000 ALTER TABLE `dbo.Titles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-08-22 15:20:25

"""